*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f4f7fb;
    color:#222;
    overflow-x:hidden;
}
label{
    position:fixed; 
    left:18px; 
    top:18px; 
    z-index:40;
}
.toggle{
    width:48px;
    height:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.toggle span{
    display:block;
    width:28px;
    height:3px;
    background:rgba(255,255,255,0.85);
    margin:3px 0;
    border-radius:2px
}
.slide{
    position:fixed; 
    left:18px; 
    top:70px; 
    width:220px; 
    background:linear-gradient(180deg, rgba(255,255,255,0.04), rgba(255,255,255,0.02)); 
    padding:18px; 
    border-radius:12px;
    backdrop-filter:blur(6px)
}
.slide h1{
    margin:0 0 8px;
    font-size:18px;
    letter-spacing:1px;
    color:var(--accent)
}
.slide ul{
    list-style:none;
    padding:0;
    margin:0
}
.slide a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:8px 6px;
    border-radius:8px;
    color:var(--muted);
    text-decoration:none
}
.slide a:hover{
    background:rgba(255,255,255,0.02);
    color:#fff
}


label input { position: absolute; left: -9999px; }


.slide{
  position:fixed;
  left:18px;
  top:70px;
  width:220px;
  background:linear-gradient(180deg, rgba(255,255,255,0.04), rgba(255,255,255,0.02));
  padding:18px;
  border-radius:12px;
  backdrop-filter:blur(6px);
  display:none;
  opacity:0;
  transform:translateY(-6px);
  transition:opacity .18s ease, transform .18s ease;
}

label input:checked + .toggle + .slide {
  display:block;
  opacity:1;
  transform:none;
}
section{
    padding:100px 10%;
}

h1,h2,h3,h4{
    font-weight:700;
}

p{
    line-height:1.6;
}



.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("group.jpg") center/cover no-repeat;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    place-content: center;
    color:white;
    overflow:hidden;
}

.hero h1{
    font-size:3.5rem;
    background:linear-gradient(90deg,#60a5fa,#2563eb,#1e3a8a);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation:slideUp 1.2s ease forwards;
}

.hero p{
    margin:20px 0;
    font-size:1.2rem;
    animation:fadeIn 2s ease forwards;
}

.hero button{
    padding:14px 35px;
    border:none;
    border-radius:30px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 10px 25px rgba(37,99,235,0.5);
}

.hero button:hover{
    transform:translateY(-5px);
    background:white;
    color:#2563eb;
}


.hero::before,
.hero::after{
    content:"";
    position:absolute;
    width:200px;
    height:200px;
    background:rgba(255,255,255,0.1);
    border-radius:50%;
    animation:float 6s infinite ease-in-out;
}

.hero::before{
    top:10%;
    left:10%;
}

.hero::after{
    bottom:10%;
    right:10%;
}

.container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    padding:100px 10%;
    flex-wrap:wrap;
}

.why-image{
    flex:1;
    min-width:300px;
}

.why-image img{
    width:100%;
    border-radius:25px;
    box-shadow:0 25px 50px rgba(0,0,0,0.15);
    transition:0.5s;
}

.why-image img:hover{
    transform:scale(1.03);
}

.why-content{
    flex:1;
    min-width:300px;
}

.why-content h3{
    font-size:34px;
    color:#1e3a8a;
    margin-bottom:20px;
    position:relative;
}

.why-content h3::after{
    content:"";
    width:60px;
    height:4px;
    background:#2563eb;
    position:absolute;
    left:0;
    bottom:-10px;
    border-radius:5px;
}

.why-content p{
    margin:30px 0;
    color:#555;
    font-size:17px;
}



.features{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:30px;
}

.feature{
    background:#f4f7fb;
    padding:20px;
    border-radius:15px;
    transition:0.4s;
}

.feature:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(37,99,235,0.2);
}

.feature h4{
    color:#2563eb;
    margin-bottom:8px;
}


.why-content button{
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:linear-gradient(90deg,#2563eb,#1e3a8a);
    color:white;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 10px 25px rgba(37,99,235,0.4);
}

.why-content button:hover{
    transform:translateY(-5px);
}

.container{
    background:#ffffff;
}

.card{
    background:#f4f7fb;
    padding-top:100px;
    padding-bottom:100px;
}

.reason{
    background:#ffffff;
}

.counters{
    background:#f4f7fb;
    padding:100px 10%;
}

.testimonials{
    padding:100px 10%;
}



.card{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.card a{
    position:relative;
    height:220px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:20px;
    border-radius:20px;
    overflow:hidden;
    background-size:cover;
    background-position:center;
    transition:0.5s;
}

.card1{background:url("maths.jpeg") center/cover;}
.card2{background:url("physics.jpg") center/cover;}
.card3{background:url("english.jpeg") center/cover;}
.card4{background:url("chemistrt.jpeg") center/cover;}
.card5{background:url("group.jpg") center/cover;}

.card a::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    top:0;
    left:0;
    transition:0.4s;
}

.card a h2,
.card a h1{
    position:relative;
    z-index:2;
    font-size: 1rem;
}

.card a:hover{
    transform:translateY(-10px) scale(1.05);
}

.card a:hover::after{
    background:rgba(37,99,235,0.6);
}


.reason{
    padding:100px 10%;
    text-align:center;
}

.reason h4{
    font-size:34px;
    color:#1e3a8a;
}

.reason > p{
    margin:20px 0 60px 0;
    color:#666;
    font-size:18px;
}


.step1,
.step2,
.step3,
.step4{
    background:white;
    padding:30px;
    margin:15px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.07);
    transition:0.4s;
    display:inline-block;
    width:220px;
    vertical-align:top;
}

.step1:hover,
.step2:hover,
.step3:hover,
.step4:hover{
    transform:translateY(-12px);
    box-shadow:0 25px 50px rgba(37,99,235,0.2);
}

.reason h1{
    font-size:18px;
    color:#2563eb;
    margin-bottom:15px;
}

.reason p{
    color:#555;
}


.standards {
    padding: 80px 20px;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: rgb(173, 173, 247);
    position: relative;
    overflow: hidden;
}
.floating-shapes {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.shape {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(96, 165, 250, 0.8), rgba(37, 99, 235, 0.6));
  box-shadow: 0 10px 30px rgba(37, 99, 235, 0.3), inset 0 5px 10px rgba(255, 255, 255, 0.2);
  animation: float3D 10s infinite ease-in-out;
  transform-style: preserve-3d;
}
.circle1 {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}
.circle2 {
  top: 60%;
  right: 15%;
  animation-delay: 3s;
  width: 80px;
  height: 80px;
}
.circle3 {
  bottom: 30%;
  left: 50%;
  animation-delay: 6s;
  width: 50px;
  height: 50px;
}
.overlay {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
.standards h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.section-intro {
    max-width: 600px;
    margin: 0 auto 50px;
    color: #e2e8f0;

}
.standard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 25px;
}
.standard-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 30px 20px;
    border-radius: 12px 40px 12px 40px;
    transition: .3s ease;

}
.standard-card:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.15);

}

.testimonials{
    background:#1e3a8a;
    color:white;
    text-align:center;
}

.testimonial-box{
    max-width:600px;
    margin:30px auto;
    padding:30px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    border-radius:20px;
    animation:fadeIn 1.5s ease forwards;
}



.counters{
    display:flex;
    justify-content:space-around;
    text-align:center;
    flex-wrap:wrap;
    gap:40px;
}

.counter-box{
    font-size:40px;
    font-weight:700;
    color:#2563eb;
}


footer{
    background:#111827;
    color:#ccc;
    text-align:center;
    padding:40px 10%;
    position: relative;
    overflow: hidden;
}

.floating-shapes-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.shape-footer {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(200, 200, 200, 0.05));
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1), inset 0 5px 10px rgba(255, 255, 255, 0.2);
  animation: float3D 10s infinite ease-in-out;
  transform-style: preserve-3d;
}
.circle1-footer {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}
.circle2-footer {
  top: 60%;
  right: 15%;
  animation-delay: 3s;
  width: 80px;
  height: 80px;
}
.circle3-footer {
  bottom: 30%;
  left: 50%;
  animation-delay: 6s;
  width: 50px;
  height: 50px;
}

footer p{
    margin-top:10px;
}
.FAQ {
    padding: 80px 20px;
    text-align: center;

}
.FAQ-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.FAQ-viewport {
    width: 350px;
    overflow: hidden;

}
.FAQ-track {
    display: flex;
    transition: transform .6s cubic-bezier(0.16,1,0.3,1);
}
.FAQ-card {
    min-width: 350px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: .3s ease,box-shadow .4s ease;
}

.arrow {
    background: #1e3a8a;
    color: #fff;
    border: none;
    font-size: 10px;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
    transition: .3s ease;

}
.arrow:hover {
    background-color: #0f172a;
}

@keyframes slideUp{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}


@keyframes float3D {
  0%, 100% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(-30px) rotateX(90deg) rotateY(90deg) rotateZ(45deg);
  }
  50% {
    transform: translateY(-15px) rotateX(180deg) rotateY(180deg) rotateZ(90deg);
  }
  75% {
    transform: translateY(-40px) rotateX(270deg) rotateY(270deg) rotateZ(135deg);
  }
}


.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:1s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}


.promo-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 9999;
}


.promo-overlay.active {
  visibility: visible;
  opacity: 1;
}


.promo-popup {
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.5s ease;
}


.promo-overlay.active .promo-popup {
  transform: translateY(0);
  opacity: 1;
}


.promo-banner {
  position: relative;
}

.promo-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.discount-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: crimson;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 50px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.promo-content {
  padding: 25px;
  text-align: center;
}

.promo-content h2 {
  margin-bottom: 10px;
}

.countdown {
  margin: 15px 0;
  font-weight: bold;
  color: #1e3a8a;
}

.promo-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #1e3a8a;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.promo-btn:hover {
  background: #14245f;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10000;
}
.whatsapp-float {
    position: fixed;
    bottom: 25px;
    width: 60x;
    height: 60px;
    right: 25px;
    aspect-ratio: 1/1;
    background: #25D366;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    transition: all .4s ease;
    animation: slideNudge 2s infinite;
}
.whatsapp-float:hover {
    transform: scale(1.05);
    animation: none;
}
.whatsapp-float i {
    font-size: 30px;

}

@keyframes slideNudge {
    0% {transform: translateX(0);}
    50% {transform: translateX(-6px);}
    100% {transform: translateX(0);}
}



@media(max-width:768px){

    section{
        padding:70px 7%;
    }

    .hero h1{
        font-size:2.2rem;
    }

    .counter-box {
        flex: 1 1 45%;

    }
    .counter-box h2 {
        font-size: 20px;
    }
    .counter-box p {
        font-size: 14px;
    }
    .hero {
        height: 80vh;
    }

}
@media(max-width:768px){

    .container{
        flex-direction:column;
        text-align:center;
    }

    .features{
        grid-template-columns:1fr;
    }
    .FAQ-viewport {
        width: 350px;
    }
    .FAQ-card {
        min-width: 350px;
    }

}
@media (max-width:768px) {
    .whatsapp-float {
        width: 52px;
        height: 52px;
    }
    .whatsapp-float i {
        font-size: 26px;
    }
}
