* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:'Poppins', sans-serif;
    color:#222;
    overflow-x:hidden;
}

label{
    position:fixed; 
    left:18px; 
    top:18px; 
    z-index:40;
}
.toggle{
    width:48px;
    height:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.toggle span{
    display:block;
    width:28px;
    height:3px;
    background:rgba(255,255,255,0.85);
    margin:3px 0;
    border-radius:2px
}
.slide{
    position:fixed; 
    left:18px; 
    top:70px; 
    width:220px; 
    background:linear-gradient(180deg, rgba(255,255,255,0.04), rgba(255,255,255,0.02)); 
    padding:18px; 
    border-radius:12px;
    backdrop-filter:blur(6px)
}
.slide h1{
    margin:0 0 8px;
    font-size:18px;
    letter-spacing:1px;
    color:var(--accent)
}
.slide ul{
    list-style:none;
    padding:0;
    margin:0
}
.slide a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:8px 6px;
    border-radius:8px;
    color:var(--muted);
    text-decoration:none
}
.slide a:hover{
    background:rgba(255,255,255,0.02);
    color:#fff
}


label input { position: absolute; left: -9999px; }


.slide{
  position:fixed;
  left:18px;
  top:70px;
  width:220px;
  background:linear-gradient(180deg, rgba(255,255,255,0.04), rgba(255,255,255,0.02));
  padding:18px;
  border-radius:12px;
  backdrop-filter:blur(6px);
  display:none;
  opacity:0;
  transform:translateY(-6px);
  transition:opacity .18s ease, transform .18s ease;
}

label input:checked + .toggle + .slide {
  display:block;
  opacity:1;
  transform:none;
}

.hero{
    height:100vh;
    background: url("group.jpg") center/cover no-repeat;
    display:flex;
    background-attachment: fixed;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    overflow:hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background:linear-gradient(120deg, rgba(0,0,0,0.6),
    rgba(20,20,60,0.7), rgba(0,0,0,0.6));
    background-size: 200% 200%;
    animation: gradientMove 8s ease infinite;
}
@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}

}
.hero-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}
.hero-content h1,
.hero-content p {
    opacity: 0;
    transform: translateY(40px);
    animation: textReveal 1s ease forwards;

}
.hero-content p {
    animation-delay: 0.6s;
    font-size: 1.5cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@keyframes textReveal {
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.split-slider {
  padding: 80px 10%;
  background: white;
}

.split-slide {
  display: none;
  align-items: center;
  gap: 40px;
}

.split-slide.active {
  display: flex;
  animation: fade 0.6s ease-in-out;
}

.split-text {
  flex: 1;
}

.split-image {
  flex: 1;
}

.split-image img {
  width: 100%;
  border-radius: 15px;
}
.math-quote {
    padding: 80px 10%;
    background: #f1f5f9;

}
.quote-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}
.vertical-line {
    display: flex;
    background: #1e3a8a;
    border-radius: 2px;
    height: 40vh;
    outline: 1px solid #1e3a8a;
    width: 4px;
    transition: all 0.5s ease;
}
blockquote {
    margin:0;
    font-size: 18px;
    line-height: 1.8;
    color: #0f172a;
    position: relative;
}
blockquote .author {
    display: block;
    margin-top: 8px;
    font-weight: 600;
    color: #1e40af;
    font-size: 16px;

}
.math-curriculum {
    padding: 100px 10%;
    background: #f8fafc;

}
.math-curriculum h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
    color: #0f172a;

}
.accordion-item {
    border-bottom: 1px solid #e2e8f0;

}
.accordion-header {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background: none;
    border:none;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0f172a;
    transition: .3s ease;
}
.accordion-header:hover {
    color: #1e3a8a;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
    padding: 0 20px;
}
.accordion-content ul {
    padding: 15px 0;
}
.accordion-content li {
    margin-bottom: 8px;
    color: #475569;
    font-size: 15px;
}
.icon {
    font-size: 20px;
    transition: transform .3s ease;
}
.outcomes {
    padding: 100px 10%;
    background: linear-gradient(135deg, #0f127a,#1e293b);
    color: white;
    text-align: center;
}
.outcomes h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 700;
}
.outcomes-sub {
    max-width: 700px;
    margin: 0 auto 6px auto;
    font-size: 17px;
    color: #cbd5e1;

}
.outcome-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 30px;
}
.outcome-card {
    background: rgba(256, 255, 255, 0.05);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;

}
.outcome-card:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.1);

}
.outcome-card h3 {
    margin-bottom: 15px;
    color: #cbd5e1;
}







@media (max-width:760px) {
     section{
        padding:70px 7%;
    }
    .hero {
        position: relative;
        height: 100vh;
    }
    .hero h1{
        font-size:2.2rem;
    }
    .hero-content {
        width: 92%;
        padding: 0 10px;
        text-align: center;
    }
    .hero-content p {
        font-size: 1.4rem;
    }

    .counter-box {
        flex: 1 1 45%;

    }
    .counter-box h2 {
        font-size: 20px;
    }
    .counter-box p {
        font-size: 14px;
    }
  

    .split-slide.active {
        flex-direction: column;
        text-align: center;

    }
    .split-image img {
        margin-top: 20px;
        max-height: 300px;
        object-fit: cover;
    }
    .split-slide {
        gap: 20px;
    }
    .split-slider {
        padding: 60px 20px;
    }
    .split-text h2 {
        font-size: 24px;

    }
    .split-text p {
        font-size: 15px;
    }

    .quote-container {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .vertical-line{
        width: 2px;
        height: 30vh;
        margin-bottom: 10px;
    }
    blockquote {
        font-size: 16px;

    }
    blockquote .author {
        font-size: 14px;
    }
    .outcomes {
        padding: 70px 20px;

    }
    .outcomes h2 {
        font-size: 28px;
    }
    .outcome-sub {
        font-size: 15px;
    }
    
}
